/*
 * Copyright 2022 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

html,
body {
  height: 100%;
  margin: 0;
}

.cq-Sequence,
.cq-Sequence-item {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cq-Sequence-item > div:only-child {
  display: block;
}

.cq-Sequence-item > div > picture:only-child {
  display: block;
  height: 100%;
  width: 100%;
}

.cq-Sequence-item > div > picture:only-child img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cq-Sequence-item[data-item-fit="contain"] > div > picture:only-child img {
  object-fit: contain;
}

.cq-Sequence-item[data-item-fit="cover"] > div > picture:only-child img {
  object-fit: cover;
}